flows.json
[{"type":"tab","id":"4fc14fa3.9fc48","label":"Earthquake monitor"},{"type":"tab","id":"5aa456cc.3137c8","label":"M304 Air Quality"},{"id":"f2854740.f04138","type":"serial-port","z":"4fc14fa3.9fc48","serialport":"/dev/cu.usbmodem14121","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"56223133.a5618","type":"twitter-credentials","z":"4fc14fa3.9fc48","screen_name":"@EstravenTherem"},{"id":"7d7995eb.e1b0ec","type":"twitter-credentials","z":"5aa456cc.3137c8","screen_name":"@EstravenTherem"},{"id":"2606cc8a.fb6dc4","type":"inject","z":"4fc14fa3.9fc48","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 0 * * *","once":false,"x":104,"y":369,"wires":[["d733fda1.d2f2e"]]},{"id":"d733fda1.d2f2e","type":"http request","z":"4fc14fa3.9fc48","name":"Earthquake API","method":"GET","ret":"obj","url":"http://www.kuakes.com/json/","x":265,"y":368,"wires":[["a1431d1a.72956","cf0ab57e.ac7e58","981ec814.451c78","6b17c8b.e5f8d38"]]},{"id":"f4593a8a.4d36c8","type":"debug","z":"4fc14fa3.9fc48","name":"","active":false,"complete":"payload","x":987,"y":214,"wires":[]},{"id":"6b19ce47.ca319","type":"function","z":"4fc14fa3.9fc48","name":"Magnitude","func":"if (msg.payload) {\n    var earthquakes = msg.payload;\n    var magnitude = {payload : 0};\n    for(var i =0; i < earthquakes.length; i++){\n        magnitude.payload += parseFloat(earthquakes[i].mag);\n    }\n    \n    return magnitude;\n}\n\nreturn null;","outputs":"1","noerr":0,"x":768,"y":220,"wires":[["f4593a8a.4d36c8"]]},{"id":"21d153d0.02dd2c","type":"debug","z":"4fc14fa3.9fc48","name":"","active":false,"complete":false,"x":1001,"y":335,"wires":[]},{"id":"cf0ab57e.ac7e58","type":"function","z":"4fc14fa3.9fc48","name":"Oldest Earthquakes","func":"if (msg.payload) {\n    msg.payload = msg.payload.slice(26);\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":521,"y":303,"wires":[["415959ef.2fce68"]]},{"id":"a1431d1a.72956","type":"function","z":"4fc14fa3.9fc48","name":"Newest Earthquakes","func":"if (msg.payload) {\n    msg.payload = msg.payload.slice(1, 25);\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":521,"y":224,"wires":[["6b19ce47.ca319"]]},{"id":"981ec814.451c78","type":"function","z":"4fc14fa3.9fc48","name":"Is magnitude increasing?","func":"if (msg.payload) {\n    var earthquakesNew = msg.payload.slice(1,25);\n    var earthquakesOld = msg.payload.slice(26);\n    \n    var magNew = 0;\n    for(var i =0; i < earthquakesNew.length; i++){\n        magNew += parseFloat(earthquakesNew[i].mag);\n    }\n    \n    var magOld = 0;\n    for(var i =0; i < earthquakesOld.length; i++){\n        magOld += parseFloat(earthquakesOld[i].mag);\n    }\n    \n    var isIncreasing = magNew > magOld ? \"255\" : \"0\" ;\n    return [{payload:isIncreasing}]\n}\n\nreturn null;","outputs":"1","noerr":0,"x":499,"y":488,"wires":[["f2f047ef.e7f058","9a4c9d91.db2f7","85bcaa4f.7c9118"]]},{"id":"415959ef.2fce68","type":"function","z":"4fc14fa3.9fc48","name":"Magnitude","func":"if (msg.payload) {\n    var earthquakes = msg.payload;\n    var magnitude = {payload : 0};\n    for(var i =0; i < earthquakes.length; i++){\n        magnitude.payload += parseFloat(earthquakes[i].mag);\n    }\n    \n    return magnitude;\n}\n\nreturn null;","outputs":"1","noerr":0,"x":767,"y":310,"wires":[["21d153d0.02dd2c"]]},{"id":"9a4c9d91.db2f7","type":"serial out","z":"4fc14fa3.9fc48","name":"","serial":"f2854740.f04138","x":887,"y":426,"wires":[]},{"id":"65973174.0ea91","type":"debug","z":"4fc14fa3.9fc48","name":"","active":true,"console":"false","complete":"payload","x":965,"y":626,"wires":[]},{"id":"f2f047ef.e7f058","type":"template","z":"4fc14fa3.9fc48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Is earthquake magnitude increasing: {{payload}}","x":758,"y":617,"wires":[["65973174.0ea91"]]},{"id":"8c561cc5.bcacf","type":"inject","z":"4fc14fa3.9fc48","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":557,"y":364,"wires":[["9a4c9d91.db2f7"]]},{"id":"fab147d0.9242e8","type":"inject","z":"4fc14fa3.9fc48","name":"","topic":"","payload":"127","payloadType":"num","repeat":"","crontab":"","once":false,"x":556,"y":402,"wires":[["9a4c9d91.db2f7"]]},{"id":"8b5be44a.fc9348","type":"inject","z":"4fc14fa3.9fc48","name":"","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"x":555,"y":441,"wires":[["9a4c9d91.db2f7"]]},{"id":"6b17c8b.e5f8d38","type":"function","z":"4fc14fa3.9fc48","name":"Date","func":"if (msg.payload) {\n    var latest = msg.payload[1];\n    var earliest = msg.payload[50];\n    \n    var dates = { \n        payload : {\n            latest : latest.time,\n            earliest : earliest.time\n        }\n    };\n    return dates;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":439.5,"y":134,"wires":[["87260eb6.e6875"]]},{"id":"87260eb6.e6875","type":"template","z":"4fc14fa3.9fc48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Earliest: {{payload.earliest}}\nLatest: {{payload.latest}}","x":591,"y":123,"wires":[["f3e5950c.5fec38"]]},{"id":"f3e5950c.5fec38","type":"debug","z":"4fc14fa3.9fc48","name":"","active":false,"console":"false","complete":"payload","x":757,"y":93,"wires":[]},{"id":"161f31cf.9ae5ee","type":"inject","z":"5aa456cc.3137c8","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 5-13 * * 1,2,3,4,5,6","once":false,"x":200,"y":233,"wires":[["48346e12.01209"]]},{"id":"48346e12.01209","type":"http request","z":"5aa456cc.3137c8","name":"M304 Air Quality","method":"GET","ret":"obj","url":"https://iot.seeed.cc/v1/node/GroveAirqualityA0/quality?access_token=16978a35475f3a331aab7ea254580119","x":446,"y":278,"wires":[["1f9359c3.9779d6","45947e33.3eed9"]]},{"id":"1f9359c3.9779d6","type":"debug","z":"5aa456cc.3137c8","name":"","active":false,"console":"false","complete":"false","x":758,"y":224,"wires":[]},{"id":"7b3f2000.5a627","type":"twitter out","z":"5aa456cc.3137c8","twitter":"7d7995eb.e1b0ec","name":"Tweet","x":1184,"y":414,"wires":[]},{"id":"1fac8bb6.289d24","type":"slack","z":"5aa456cc.3137c8","name":"","channelURL":"https://hooks.slack.com/services/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","username":"M304","emojiIcon":":glitch_crab:","channel":"#random","x":1184,"y":612,"wires":[]},{"id":"45947e33.3eed9","type":"switch","z":"5aa456cc.3137c8","name":"If quality drops","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"70","vt":"str"},{"t":"lte","v":"70","vt":"str"},{"t":"lte","v":"55","vt":"str"},{"t":"lte","v":"40","vt":"str"}],"checkall":"false","outputs":4,"x":584,"y":520,"wires":[["ec255642.180068"],["4018748f.f2687c"],["5fe907df.b491d8"],["57e40ad5.a9efb4"]]},{"id":"4018748f.f2687c","type":"template","z":"5aa456cc.3137c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Air quality in M304 is dropping. ({{payload.quality}})","x":847,"y":486,"wires":[["1fac8bb6.289d24","7b3f2000.5a627","fb7c0187.81721"]]},{"id":"5fe907df.b491d8","type":"template","z":"5aa456cc.3137c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Wow, there is some noxious oxygen floating in this space. ({{payload.quality}})","x":849,"y":534,"wires":[["1fac8bb6.289d24","7b3f2000.5a627","fb7c0187.81721"]]},{"id":"57e40ad5.a9efb4","type":"template","z":"5aa456cc.3137c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"It might be time to consider opening some windows! ({{payload.quality}})","x":852,"y":586,"wires":[["1fac8bb6.289d24","7b3f2000.5a627","fb7c0187.81721"]]},{"id":"ec255642.180068","type":"template","z":"5aa456cc.3137c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Smells of roses in here. ({{payload.quality}})","x":845,"y":433,"wires":[["1fac8bb6.289d24","7b3f2000.5a627","fb7c0187.81721"]]},{"id":"fb7c0187.81721","type":"debug","z":"5aa456cc.3137c8","name":"","active":true,"console":"false","complete":"false","x":1198,"y":285,"wires":[]},{"id":"2d2a0dfe.76c202","type":"twitter out","z":"4fc14fa3.9fc48","twitter":"56223133.a5618","name":"Tweet","x":1210,"y":538,"wires":[]},{"id":"85bcaa4f.7c9118","type":"switch","z":"4fc14fa3.9fc48","name":"If greater than 1","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"}],"checkall":"false","outputs":1,"x":849,"y":534,"wires":[["b7e3af25.3ac9b"]]},{"id":"b7e3af25.3ac9b","type":"template","z":"4fc14fa3.9fc48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"RUMBLE!","x":1034,"y":540,"wires":[["2d2a0dfe.76c202"]]}]